.gallery{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
#gallery__img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    border: 1px solid transparent;
}
#gallery__img.active{
    border: 1px solid black;
}
#gallery__img:hover{
    width: 70px;
    height: 70px;
    cursor: pointer;
    border: 1px solid black;
}