.sheetTriger{
    background: url('../../img/size.svg');
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
}